---
import { Icon } from "astro-icon/components";
const { timeframe, title, description, url, tags, url_name, location } =
  Astro.props;
---

<div
  class="card card-compact not-print:card-bordered not-print:border not-print:border-[oklch(var(--s))] w-full md:w-112 lg:w-128 not-print:hover:shadow-lg transition-all my-4 break-inside-avoid"
>
  <div class="card-body print:!p-0">
    <div class="flex flex-row gap-4 items-center justify-between text-left">
      <h1
        class="uppercase card-title font-extrabold tracking-tighter md:text-xl"
        aria-label={title}
      >
        {title}
      </h1>
      {
        timeframe && (
          <div class="!w-max !h-max !md:text-xs not-print:badge text-center not-print:badge-outline align-middle not-print:shadow-md font-mono">
            {timeframe}
          </div>
        )
      }
    </div>

    <div class="flex gap-2 mb-2">
      {
        location && (
          <div class="flex items-center">
            <Icon name="carbon:location" class="w-4 h-4 mr-1" />
            <p class="text-sm  font-light text-secondary">{location}</p>
          </div>
        )
      }
      {
        url_name && (
          <div class="flex items-center">
            {url ? (
              <a
                href={url}
                target="_blank"
                class="link link-hover text-sm text-right flex justify-center items-center"
                aria-label={url_name}
              >
                {url !== "#" && (
                  <Icon name="carbon:link" class="w-4 h-4 mr-1" />
                )}
                {url_name}
              </a>
            ) : (
              <p class="text-sm text-right font-light text-secondary">
                {url_name}
              </p>
            )}
          </div>
        )
      }
    </div>

    <div class="self-start justify-self-start text-left">
      <article class="prose text-secondary text-justify">
        <Fragment set:html={description} />
      </article>
      {
        Array.isArray(tags) && (
          <div class="flex flex-wrap content-around gap-2 my-4">
            {tags.map((item) => (
              <span class="badge text-center inline-block align-middle w-max h-max text-sm  badge-outline not-print:shadow-md mb-1">
                {item}
              </span>
            ))}
          </div>
        )
      }
    </div>
  </div>
</div>
